@import "./mixins.scss";

$primary-color: #8a4b3f;
$light-color: #c7968c;
$disabled-color: #dddddd;

$black: #000000;
$white: #ffffff;

$text-color: #333333;
$text-color-light: #666666;
$text-color-lighter: #999999;
$text-color-nav: #7a8195;

$border-color: #dddddd;
$border-radius: 4px;

$image-bg: #f4f4f4;

$main-red-color: #8a4b3f;
$back-org-color: #f9ece8;
$back-red-color: #ffedf1;
$light-red-colr: #f6623c;
$grey-color: #939393;



