@import "@styles/color.scss";

.picItem {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 420px;
  width: 100%;

  &-img {
    justify-self: center;
    align-self: center;
    height: 420px;
  }

  &-line {
    background: #000;
    opacity: 0.3;
    z-index: 999;
    position: absolute;
    top: -80px;
    width: 100%;
    height: 80px;
    padding: 15px 20px;

    &-text {
      color: white;
      line-height: 40px;
      font-size: 30px;
    }
  }
}
