@import "@styles/color.scss";

.rt {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  border-bottom: 1px solid #eee;

  &-title {
    font-size: 40px;
    font-weight: bold;
  }
  &-from {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    &-name {
      font-size: 32px;
      color: #333;
    }
    &-msg {
      font-size: 32px;
      color: #333;
    }
  }

  &-content {
    margin-top: 10px;
    text-align: justify;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 3px;
  }
}
