.circle-float {
  position: fixed;
  z-index: 800;
  left: 87%;
  width: 76px;
  height: 76px;
  border-radius: 50%;
  font-size: 28px;
  background: #fff;
  padding: 8px;
  border: 1px solid #df4747;
}
