@import "@styles/color.scss";

.bookItem {
  display: flex;
  flex-direction: row;
  padding: 15px 20px;
  margin: 20px;
  border-bottom: 1px solid #ccc;
  height: 300px;

  &-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;

    &-img {
      width: 240px;
    }
  }

  &-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    &-title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      &-name {
        font-weight: 500;
        font-size: 36px;
      }

      &-year {
        font-weight: 300;
        font-size: 34px;
      }
    }

    &-three {
      font-size: 32px;
    }

    &-four {
      font-size: 30px;
    }

    &-read {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      &-title {
        color: #333;
        font-size: 28px;
      }

      &-number {
        color: #555;
        font-size: 28px;
        justify-content: right;
      }
    }
  }
}
